.container {
  display: flex;
  justify-content: center;
  background-color: #93d0f3;
  }
  
  .btn {
  display: flex;
  justify-content: space-evenly;
  }
  
  button {
  background-color: #985abd;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 50px;
  }

  .btnn{
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #0071c2;
  }

  img {
  margin-bottom : 50px;
  }
  